## Setup

In [ ]:
from google.colab import files
import json
# files.upload()

In [ ]:
!rm -r ~/.kaggle
!mkdir ~/.kaggle
%cd ~/.kaggle/
!touch kaggle.json
api_token = {"username":"avibewtra","key":"57c0b1a4dd936e5f3e20c684b854e472"}
with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)
!chmod 600 ~/.kaggle/kaggle.json
%cd

rm: cannot remove '/root/.kaggle': No such file or directory
/root/.kaggle
/root

In [ ]:
!cat ~/.kaggle/kaggle.json

{"username": "avibewtra", "key": "57c0b1a4dd936e5f3e20c684b854e472"}

In [ ]:
# https://www.kaggle.com/datasets/erichqiu/nba-odds-and-scores
!mkdir nba-data
%cd nba-data
!kaggle datasets download -d erichqiu/nba-odds-and-scores

/root/nba-data
Downloading nba-odds-and-scores.zip to /root/nba-data
  0% 0.00/1.87M [00:00<?, ?B/s]
100% 1.87M/1.87M [00:00<00:00, 109MB/s]

In [ ]:
!unzip -q nba-odds-and-scores.zip

## Pandas

In [ ]:
import pandas as pd

In [ ]:
%cd 2012-13
!ls

/root/nba-data/2012-13
raw_scores.txt	vegas_playoff.txt  vegas.txt

In [ ]:
raw_scores = pd.read_csv("raw_scores.txt")
vegas = pd.read_csv("vegas.txt")
vegas_p = pd.read_csv("vegas_playoff.txt")

In [ ]:
raw_scores.head()

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,0.0,0.0,0.0,84,0.356,0.600,0.250,26,39,12
1,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,0.0,0.0,0.0,94,0.456,0.682,0.350,22,54,20
2,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,0.0,0.0,0.0,107,0.520,0.821,0.462,24,41,15
3,2012-10-30,2,21200002,1610612748,MIA,Miami,1-0,31,31,31,...,0.0,0.0,0.0,120,0.544,0.813,0.500,25,36,8
4,2012-10-30,3,21200003,1610612742,DAL,Dallas,1-0,25,23,26,...,0.0,0.0,0.0,99,0.471,0.778,0.333,22,40,11

In [ ]:
vegas.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2012-10-30,away,Washington,Cleveland,1610612764,21200001,44.6,220.0,210.0,200,...,190.33,-108.17,191.0,187.0,-104,-110.0,84.0,-10.0,L,178.0
1,2012-10-30,home,Cleveland,Washington,1610612739,21200001,55.4,-260.0,-235.0,-240,...,190.33,-110.17,191.0,187.0,-106,-115.0,94.0,10.0,W,178.0
2,2012-10-30,away,Boston,Miami,1610612738,21200002,44.8,220.0,244.0,240,...,186.58,-107.33,188.0,182.0,-104,-110.0,107.0,-13.0,L,227.0
3,2012-10-30,home,Miami,Boston,1610612748,21200002,55.2,-260.0,-275.0,-260,...,186.58,-109.33,188.0,182.0,-105,-115.0,120.0,13.0,W,227.0
4,2012-10-30,away,Dallas,L.A. Lakers,1610612742,21200003,40.8,350.0,393.0,420,...,186.00,-107.50,187.0,185.0,-100,-110.0,99.0,8.0,W,190.0

In [ ]:
vegas_p.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2013-04-20,away,Boston,New York,1610612738,41200111,42.8,250,300,305,...,189.50,-108.00,192.5,188.5,-105.0,-110,78,-7,L,163
1,2013-04-20,home,New York,Boston,1610612752,41200111,57.2,-300,-343,-335,...,189.50,-108.67,192.5,188.5,-102.0,-115,85,7,W,163
2,2013-04-20,away,Chicago,Brooklyn,1610612741,41200131,52.8,170,163,170,...,181.75,-108.33,184.0,181.0,-100.0,-115,89,-17,L,195
3,2013-04-20,home,Brooklyn,Chicago,1610612751,41200131,47.2,-195,-181,-185,...,181.75,-108.33,184.0,181.0,-105.0,-110,106,17,W,195
4,2013-04-20,away,Golden State,Denver,1610612744,41200161,47.3,330,314,325,...,211.33,-107.67,212.0,210.0,-101.0,-110,95,-2,L,192

In [ ]:
teams_odds = pd.merge(raw_scores, vegas, left_on="GAME_ID", right_on="GameId")

In [ ]:
teams_odds.columns

Index(['Unnamed: 0', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_WINS_LOSSES', 'PTS_QTR1',
       'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2', 'PTS_OT3',
       'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8', 'PTS_OT9',
       'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV',
       'Date', 'Location', 'Team', 'OppTeam', 'TeamId', 'GameId',
       'PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML',
       'Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML',
       'Best_Line_ML', 'Worst_Line_ML', 'PercentBet_Spread',
       'Open_Line_Spread', 'Open_Odds_Spread', 'Pinnacle_Line_Spread',
       'Pinnacle_Odds_Spread', '5dimes_Line_Spread', '5dimes_Odds_Spread',
       'Heritage_Line_Spread', 'Heritage_Odds_Spread', 'Bovada_Line_Spread',
       'Bovada_Odds_Spread', 'Betonline_Line_Spread', 'Betonline_Odds_Spread',
       'Average_Line_Spread', 'Average_Odds_Spread', 'Best_Line_Spread',
       'Worst_Line_Spread', 'Best_Odds_Spread', 'Worst_Odds_Spread',
       'PercentBet_OU', 'Open_Line_OU', 'Open_Odds_OU', 'Pinnacle_Line_OU',
       'Pinnacle_Odds_OU', '5dimes_Line_OU', '5dimes_Odds_OU',
       'Heritage_Line_OU', 'Heritage_Odds_OU', 'Bovada_Line_OU',
       'Bovada_Odds_OU', 'Betonline_Line_OU', 'Betonline_Odds_OU',
       'Average_Line_OU', 'Average_Odds_OU', 'Best_Line_OU', 'Worst_Line_OU',
       'Best_Odds_OU', 'Worst_Odds_OU', 'Pts', 'Spread', 'Result', 'Total'],
      dtype='object')

In [ ]:
teams_odds.head()

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,190.33,-108.17,191.0,187.0,-104,-110.0,84.0,-10.0,L,178.0
1,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,190.33,-110.17,191.0,187.0,-106,-115.0,94.0,10.0,W,178.0
2,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,190.33,-108.17,191.0,187.0,-104,-110.0,84.0,-10.0,L,178.0
3,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,190.33,-110.17,191.0,187.0,-106,-115.0,94.0,10.0,W,178.0
4,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,186.58,-107.33,188.0,182.0,-104,-110.0,107.0,-13.0,L,227.0

In [ ]:
teams_odds_moneyline = teams_odds[['TeamId', 'GameId', 'PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4','PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV', 'PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML', 'Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML', 'Best_Line_ML', 'Worst_Line_ML']]

In [ ]:
teams_odds_moneyline.mean()

TeamId             1.610613e+09
GameId             2.120062e+07
PTS_QTR1           2.455167e+01
PTS_QTR2           2.483360e+01
PTS_QTR3           2.409805e+01
PTS_QTR4           2.394264e+01
PTS                9.813792e+01
FG_PCT             4.540187e-01
FT_PCT             7.540631e-01
FG3_PCT            3.553076e-01
AST                2.213792e+01
REB                4.213792e+01
TOV                1.395199e+01
PercentBet_ML      4.804719e+01
Open_Line_ML      -3.684701e+01
Pinnacle_ML       -4.122798e+01
5dimes_ML         -3.022417e+01
Heritage_ML       -5.048617e+01
Bovada_ML         -3.235057e+01
Betonline_ML      -3.815299e+01
Average_Line_ML   -4.354260e+01
Best_Line_ML      -2.013670e+01
Worst_Line_ML     -6.971359e+01
dtype: float64

In [ ]:
teams_odds_moneyline.std()

TeamId               8.655412
GameId             354.839988
PTS_QTR1             5.095624
PTS_QTR2             5.536633
PTS_QTR3             5.436824
PTS_QTR4             5.492505
PTS                 11.629482
FG_PCT               0.056219
FT_PCT               0.105173
FG3_PCT              0.113291
AST                  4.922027
REB                  6.444828
TOV                  3.679773
PercentBet_ML       29.842648
Open_Line_ML       404.325693
Pinnacle_ML        521.976504
5dimes_ML          472.147617
Heritage_ML        524.926413
Bovada_ML          287.074214
Betonline_ML       413.367900
Average_Line_ML    502.708461
Best_Line_ML       478.768522
Worst_Line_ML      525.490088
dtype: float64