## Setup

In [1]:
from google.colab import files
import json
# files.upload()

In [2]:
!rm -r ~/.kaggle
!mkdir ~/.kaggle
%cd ~/.kaggle/
!touch kaggle.json
api_token = {"username":"avibewtra","key":"57c0b1a4dd936e5f3e20c684b854e472"}
with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)
!chmod 600 ~/.kaggle/kaggle.json
%cd

rm: cannot remove '/root/.kaggle': No such file or directory
/root/.kaggle
/root

In [3]:
!cat ~/.kaggle/kaggle.json

{"username": "avibewtra", "key": "57c0b1a4dd936e5f3e20c684b854e472"}

In [4]:
# https://www.kaggle.com/datasets/erichqiu/nba-odds-and-scores
!mkdir nba-data
%cd nba-data
!kaggle datasets download -d erichqiu/nba-odds-and-scores

/root/nba-data
Downloading nba-odds-and-scores.zip to /root/nba-data
  0% 0.00/1.87M [00:00<?, ?B/s]
100% 1.87M/1.87M [00:00<00:00, 75.5MB/s]

In [5]:
!unzip -q nba-odds-and-scores.zip

## Pandas

In [6]:
import pandas as pd
import numpy as np

In [7]:
%cd 2012-13
!ls

/root/nba-data/2012-13
raw_scores.txt	vegas_playoff.txt  vegas.txt

In [8]:
raw_scores = pd.read_csv("raw_scores.txt")
vegas = pd.read_csv("vegas.txt")
vegas_p = pd.read_csv("vegas_playoff.txt")

In [9]:
raw_scores.head(5)

,Unnamed: 0,GAME_SEQUENCE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY_NAME,TEAM_WINS_LOSSES,PTS_QTR1,PTS_QTR2,PTS_QTR3,...,PTS_OT8,PTS_OT9,PTS_OT10,PTS,FG_PCT,FT_PCT,FG3_PCT,AST,REB,TOV
0,2012-10-30,1,21200001,1610612764,WAS,Washington,0-1,24,15,23,...,0.0,0.0,0.0,84,0.356,0.600,0.250,26,39,12
1,2012-10-30,1,21200001,1610612739,CLE,Cleveland,1-0,31,19,24,...,0.0,0.0,0.0,94,0.456,0.682,0.350,22,54,20
2,2012-10-30,2,21200002,1610612738,BOS,Boston,0-1,25,29,22,...,0.0,0.0,0.0,107,0.520,0.821,0.462,24,41,15
3,2012-10-30,2,21200002,1610612748,MIA,Miami,1-0,31,31,31,...,0.0,0.0,0.0,120,0.544,0.813,0.500,25,36,8
4,2012-10-30,3,21200003,1610612742,DAL,Dallas,1-0,25,23,26,...,0.0,0.0,0.0,99,0.471,0.778,0.333,22,40,11

In [10]:
vegas.head()
vegas.columns

Index(['Date', 'Location', 'Team', 'OppTeam', 'TeamId', 'GameId',
       'PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML',
       'Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML',
       'Best_Line_ML', 'Worst_Line_ML', 'PercentBet_Spread',
       'Open_Line_Spread', 'Open_Odds_Spread', 'Pinnacle_Line_Spread',
       'Pinnacle_Odds_Spread', '5dimes_Line_Spread', '5dimes_Odds_Spread',
       'Heritage_Line_Spread', 'Heritage_Odds_Spread', 'Bovada_Line_Spread',
       'Bovada_Odds_Spread', 'Betonline_Line_Spread', 'Betonline_Odds_Spread',
       'Average_Line_Spread', 'Average_Odds_Spread', 'Best_Line_Spread',
       'Worst_Line_Spread', 'Best_Odds_Spread', 'Worst_Odds_Spread',
       'PercentBet_OU', 'Open_Line_OU', 'Open_Odds_OU', 'Pinnacle_Line_OU',
       'Pinnacle_Odds_OU', '5dimes_Line_OU', '5dimes_Odds_OU',
       'Heritage_Line_OU', 'Heritage_Odds_OU', 'Bovada_Line_OU',
       'Bovada_Odds_OU', 'Betonline_Line_OU', 'Betonline_Odds_OU',
       'Average_Line_OU', 'Average_Odds_OU', 'Best_Line_OU', 'Worst_Line_OU',
       'Best_Odds_OU', 'Worst_Odds_OU', 'Pts', 'Spread', 'Result', 'Total'],
      dtype='object')

In [11]:
vegas_p.head()

,Date,Location,Team,OppTeam,TeamId,GameId,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,...,Average_Line_OU,Average_Odds_OU,Best_Line_OU,Worst_Line_OU,Best_Odds_OU,Worst_Odds_OU,Pts,Spread,Result,Total
0,2013-04-20,away,Boston,New York,1610612738,41200111,42.8,250,300,305,...,189.50,-108.00,192.5,188.5,-105.0,-110,78,-7,L,163
1,2013-04-20,home,New York,Boston,1610612752,41200111,57.2,-300,-343,-335,...,189.50,-108.67,192.5,188.5,-102.0,-115,85,7,W,163
2,2013-04-20,away,Chicago,Brooklyn,1610612741,41200131,52.8,170,163,170,...,181.75,-108.33,184.0,181.0,-100.0,-115,89,-17,L,195
3,2013-04-20,home,Brooklyn,Chicago,1610612751,41200131,47.2,-195,-181,-185,...,181.75,-108.33,184.0,181.0,-105.0,-110,106,17,W,195
4,2013-04-20,away,Golden State,Denver,1610612744,41200161,47.3,330,314,325,...,211.33,-107.67,212.0,210.0,-101.0,-110,95,-2,L,192

In [12]:
teams_odds = pd.merge(raw_scores, vegas, left_on=["GAME_ID", "TEAM_ID"], right_on=["GameId", "TeamId"])

In [13]:
teams_odds.columns

Index(['Unnamed: 0', 'GAME_SEQUENCE', 'GAME_ID', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'TEAM_CITY_NAME', 'TEAM_WINS_LOSSES', 'PTS_QTR1',
       'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4', 'PTS_OT1', 'PTS_OT2', 'PTS_OT3',
       'PTS_OT4', 'PTS_OT5', 'PTS_OT6', 'PTS_OT7', 'PTS_OT8', 'PTS_OT9',
       'PTS_OT10', 'PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV',
       'Date', 'Location', 'Team', 'OppTeam', 'TeamId', 'GameId',
       'PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML',
       'Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML',
       'Best_Line_ML', 'Worst_Line_ML', 'PercentBet_Spread',
       'Open_Line_Spread', 'Open_Odds_Spread', 'Pinnacle_Line_Spread',
       'Pinnacle_Odds_Spread', '5dimes_Line_Spread', '5dimes_Odds_Spread',
       'Heritage_Line_Spread', 'Heritage_Odds_Spread', 'Bovada_Line_Spread',
       'Bovada_Odds_Spread', 'Betonline_Line_Spread', 'Betonline_Odds_Spread',
       'Average_Line_Spread', 'Average_Odds_Spread', 'Best_Line_Spread',
       'Worst_Line_Spread', 'Best_Odds_Spread', 'Worst_Odds_Spread',
       'PercentBet_OU', 'Open_Line_OU', 'Open_Odds_OU', 'Pinnacle_Line_OU',
       'Pinnacle_Odds_OU', '5dimes_Line_OU', '5dimes_Odds_OU',
       'Heritage_Line_OU', 'Heritage_Odds_OU', 'Bovada_Line_OU',
       'Bovada_Odds_OU', 'Betonline_Line_OU', 'Betonline_Odds_OU',
       'Average_Line_OU', 'Average_Odds_OU', 'Best_Line_OU', 'Worst_Line_OU',
       'Best_Odds_OU', 'Worst_Odds_OU', 'Pts', 'Spread', 'Result', 'Total'],
      dtype='object')

In [14]:
teams_odds['Date'] = teams_odds.iloc[:,0]

teams_odds['Date']

0       2012-10-30
1       2012-10-30
2       2012-10-30
3       2012-10-30
4       2012-10-30
           ...
2453    2013-04-17
2454    2013-04-17
2455    2013-04-17
2456    2013-04-17
2457    2013-04-17
Name: Date, Length: 2458, dtype: object

In [15]:
teams_odds_moneyline = teams_odds[['Date','TeamId', 'GameId', 'PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4','PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV', 'PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML', 'Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML', 'Best_Line_ML', 'Worst_Line_ML']]
teams_odds_moneyline

,Date,TeamId,GameId,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS,FG_PCT,FT_PCT,...,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,Heritage_ML,Bovada_ML,Betonline_ML,Average_Line_ML,Best_Line_ML,Worst_Line_ML
0,2012-10-30,1610612764,21200001,24,15,23,22,84,0.356,0.600,...,44.6,220.0,210.0,200,210,215.0,210.0,209.0,215.0,200.0
1,2012-10-30,1610612739,21200001,31,19,24,20,94,0.456,0.682,...,55.4,-260.0,-235.0,-240,-250,-255.0,-250.0,-246.0,-235.0,-255.0
2,2012-10-30,1610612738,21200002,25,29,22,31,107,0.520,0.821,...,44.8,220.0,244.0,240,230,225.0,235.0,234.8,244.0,225.0
3,2012-10-30,1610612748,21200002,31,31,31,27,120,0.544,0.813,...,55.2,-260.0,-275.0,-260,-270,-265.0,-280.0,-270.0,-260.0,-280.0
4,2012-10-30,1610612742,21200003,25,23,26,25,99,0.471,0.778,...,40.8,350.0,393.0,420,400,375.0,385.0,394.6,420.0,375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2453,2013-04-17,1610612747,21201228,21,23,22,24,99,0.367,0.676,...,62.6,-140.0,-127.0,110,105,NaN,-150.0,-15.5,110.0,-150.0
2454,2013-04-17,1610612746,21201229,27,27,24,34,112,0.500,0.667,...,33.3,-260.0,-250.0,-290,-305,-280.0,-300.0,-285.0,-250.0,-305.0
2455,2013-04-17,1610612758,21201229,26,20,24,38,108,0.449,0.760,...,66.7,220.0,222.0,260,255,240.0,250.0,245.4,260.0,222.0
2456,2013-04-17,1610612744,21201230,24,26,16,33,99,0.430,0.769,...,40.4,-380.0,-380.0,-400,-405,-420.0,-400.0,-401.0,-380.0,-420.0
2457,2013-04-17,1610612757,21201230,17,19,27,25,88,0.427,0.857,...,59.6,320.0,330.0,355,335,310.0,330.0,332.0,355.0,310.0

In [22]:
teams_odds_moneyline.columns
teams_odds_moneyline.head(5)

,Date,TeamId,GameId,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS,FG_PCT,FT_PCT,...,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,Heritage_ML,Bovada_ML,Betonline_ML,Average_Line_ML,Best_Line_ML,Worst_Line_ML
0,2012-10-30,1610612764,21200001,24,15,23,22,84,0.356,0.600,...,44.6,220.0,210.0,200,210,215.0,210.0,209.0,215.0,200.0
1,2012-10-30,1610612739,21200001,31,19,24,20,94,0.456,0.682,...,55.4,-260.0,-235.0,-240,-250,-255.0,-250.0,-246.0,-235.0,-255.0
2,2012-10-30,1610612738,21200002,25,29,22,31,107,0.520,0.821,...,44.8,220.0,244.0,240,230,225.0,235.0,234.8,244.0,225.0
3,2012-10-30,1610612748,21200002,31,31,31,27,120,0.544,0.813,...,55.2,-260.0,-275.0,-260,-270,-265.0,-280.0,-270.0,-260.0,-280.0
4,2012-10-30,1610612742,21200003,25,23,26,25,99,0.471,0.778,...,40.8,350.0,393.0,420,400,375.0,385.0,394.6,420.0,375.0

In [110]:
import datetime as dt


teams_odds_moneyline['Date'] = pd.to_datetime(teams_odds_moneyline['Date'])

cols = ['Date','TeamId','GameId','PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4','PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV','PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML','Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML','Best_Line_ML', 'Worst_Line_ML']
  
new_df = pd.DataFrame(columns = cols)

#print(type(testing['Date']))


for i in teams_odds_moneyline.itertuples():

   
  avg_cols = ['PTS_QTR1', 'PTS_QTR2', 'PTS_QTR3', 'PTS_QTR4','PTS', 'FG_PCT', 'FT_PCT', 'FG3_PCT', 'AST', 'REB', 'TOV']
  hold_cols = ['Date','TeamId','GameId','PercentBet_ML', 'Open_Line_ML', 'Pinnacle_ML', '5dimes_ML','Heritage_ML', 'Bovada_ML', 'Betonline_ML', 'Average_Line_ML','Best_Line_ML', 'Worst_Line_ML']
  
  #print([i[1],i[2],i[3],*i[14:]])

  holder = pd.DataFrame([[i[1],i[2],i[3],*i[15:]]],columns = hold_cols)

  a = pd.to_datetime(i[1])

  #  Grab all the columns from the origional dataset before the date the time has played

  working =  teams_odds_moneyline.loc[teams_odds_moneyline['Date'] <= a]
  working =  working.loc[working['TeamId'] == i[2]]


  if len(working) == 0:
    continue

  else:

    for col in avg_cols:
      #print(working.columns)
      #print(working[col].mean())
      holder[col] = working[col].mean()
      
    #print(holder)

    new_df = pd.concat([new_df,holder],axis = 0)

  
new_df = new_df[cols].reset_index(drop=True)



new_df.head(100)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Date,TeamId,GameId,PTS_QTR1,PTS_QTR2,PTS_QTR3,PTS_QTR4,PTS,FG_PCT,FT_PCT,...,PercentBet_ML,Open_Line_ML,Pinnacle_ML,5dimes_ML,Heritage_ML,Bovada_ML,Betonline_ML,Average_Line_ML,Best_Line_ML,Worst_Line_ML
0,2012-10-30,1610612764,21200001,24.000000,15.000000,23.000000,22.000000,84.000000,0.356000,0.600000,...,44.6,220.0,210.0,200,210,215.0,210.0,209.0,215.0,200.0
1,2012-10-30,1610612739,21200001,31.000000,19.000000,24.000000,20.000000,94.000000,0.456000,0.682000,...,55.4,-260.0,-235.0,-240,-250,-255.0,-250.0,-246.0,-235.0,-255.0
2,2012-10-30,1610612738,21200002,25.000000,29.000000,22.000000,31.000000,107.000000,0.520000,0.821000,...,44.8,220.0,244.0,240,230,225.0,235.0,234.8,244.0,225.0
3,2012-10-30,1610612748,21200002,31.000000,31.000000,31.000000,27.000000,120.000000,0.544000,0.813000,...,55.2,-260.0,-275.0,-260,-270,-265.0,-280.0,-270.0,-260.0,-280.0
4,2012-10-30,1610612742,21200003,25.000000,23.000000,26.000000,25.000000,99.000000,0.471000,0.778000,...,40.8,350.0,393.0,420,400,375.0,385.0,394.6,420.0,375.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2012-11-05,1610612746,21200049,26.500000,24.500000,27.000000,26.250000,104.250000,0.480500,0.778000,...,100.0,-730.0,-640.0,-660,-720,NaN,-680.0,-675.0,-640.0,-720.0
96,2012-11-06,1610612753,21200050,26.333333,24.333333,27.333333,25.333333,103.333333,0.465333,0.776333,...,61.8,400.0,423.0,405,415,325.0,390.0,391.6,423.0,325.0
97,2012-11-06,1610612741,21200050,24.500000,23.750000,21.750000,27.250000,97.250000,0.465500,0.768250,...,38.2,-495.0,-500.0,-455,-520,-450.0,-475.0,-480.0,-450.0,-520.0
98,2012-11-06,1610612761,21200051,25.500000,23.000000,24.250000,22.500000,95.250000,0.403750,0.831000,...,39.3,350.0,404.0,400,400,375.0,395.0,394.8,404.0,375.0
99,2012-11-06,1610612760,21200051,25.500000,23.750000,25.500000,23.500000,98.250000,0.457000,0.826750,...,60.7,-425.0,-475.0,-450,-505,-550.0,-490.0,-494.0,-450.0,-550.0

In [111]:
#%cd ../../../content/drive/MyDrive
#%cd 'Sports Betting Research'

#%cd Data

new_df.to_csv('2012_2013_Cumulative_Data.csv')
!ls

2012_2013_Avg_Data	       2012-2013_RawScores_VegasOdds.csv
2012_2013_Cumulative_Data.csv

In [90]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data Perturbations

In [113]:
new_df.columns == teams_odds_moneyline.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])

### Row Uniformity
Take out a percentage of the data and replace the removed rows with random duplicates

In [115]:
def add_duplicate_rows(df, p=.25, reset_index=False):
  df2 = pd.concat([df, df.sample(n=int(len(df)*p))])

  if reset_index: 
    return df2.reset_index(drop=True)
  else: 
    return df2

In [117]:
duplicate_rows  = add_duplicate_rows(new_df, p=.25)
duplicate_rows.to_csv('2012_2013_duplicate_rows.csv')

### Timeliness
Predict a years/games odds based on data from two years ago, not the year prior—or something to this effect.

In [ ]:
# Use teams_odds_moneyline to predict 2013-14 odds

### Change the data
Add noise

In [119]:
def add_col_noise(df, ignore_cols=['TeamId', 'GameId','Date']):
  for col in df.columns.to_list():
    if col in ignore_cols:
      continue
    else:
      std = df[col].std()
      noise = np.random.normal(0, std, len(df[col]))
      df[col] += noise
  return df


add_col_noise_df  = add_col_noise(new_df)
add_col_noise_df.to_csv('2012_2013_add_noise.csv')

### Feature Statistics: Create synthetic data
- Using the statistics of each feature: mean, variance, min, max, etc; or use another probabilistic model.
- Using changed statistics of each feature: mean, variance, min, max, etc; or use another probabilistic model.

In [120]:
def bootstrapped_df(df, keep_cols=['TeamId', 'GameId','Date']):
  df2 = pd.DataFrame()
  for col in df.columns.to_list():
    if col in keep_cols:
      df2[col] = df[col]
    else:
      mu = df[col].mean()
      std = df[col].std()
      noise = np.random.normal(mu, std**.5, len(df[col]))
      df2[col] = noise

  return df2

bootstrapped_dataframe  = bootstrapped_df(new_df)
bootstrapped_dataframe.to_csv('2012_2013_bootstrapped.csv')

### Drop features

In [121]:
def drop_features(df, n_cols=2, keep_columns=['TeamId', 'GameId','Date']):
  columns = df.drop(keep_columns, axis=1).columns.to_list()
  drop = np.random.choice(columns, size=n_cols)
  return df.drop(drop, axis=1)

#drop_features(teams_odds_moneyline)
drop_features_dataframe  = drop_features(new_df)
drop_features_dataframe.to_csv('2012_2013_drop_features.csv')

### Add dummy features

In [122]:
def add_dummy_cols(df, n_cols=2):
  for i in range(n_cols):
    df[i + 10000] = np.random.normal(size=len(df))
  return df

#add_dummy_cols(teams_odds_moneyline)
add_dummy_cols_dataframe  = add_dummy_cols(new_df)
add_dummy_cols_dataframe.to_csv('2012_2013_add_dummy_cols.csv')

In [124]:

!rm '2012_2013_Avg_Data'
!ls

2012_2013_add_dummy_cols.csv   2012_2013_drop_features.csv
2012_2013_add_noise.csv        2012_2013_duplicate_rows.csv
2012_2013_bootstrapped.csv     2012-2013_RawScores_VegasOdds.csv
2012_2013_Cumulative_Data.csv

## Loop through years and save data

In [ ]:
import os
from glob import glob

In [ ]:
glob('../*[0-9]*$)')

['../2018-19',
 '../2012-13',
 '../2013-14',
 '../2014-15',
 '../nba-odds-and-scores.zip',
 '../2017-18',
 '../2016-17',
 '../2015-16']