In [1]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:

# Create an URL object
url = 'https://www.teamrankings.com/nba/stat/points-per-game'
# Create object page
page = requests.get(url)

In [3]:
# parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')

In [4]:
# Obtain information from tag <table>
table1 = soup.find('table')
#print(table1)

In [5]:
type(table1)

bs4.element.Tag

In [6]:
# Obtain every title of columns with tag <th>
headers = []
for i in table1.find_all('th'):
  title = i.text
  headers.append(title)

In [7]:
# Create a dataframe
mydata = pd.DataFrame(columns = headers)

# Create a for loop to fill mydata
for j in table1.find_all('tr')[1:]:
  row_data = j.find_all('td')
  row = [i.text for i in row_data]
  length = len(mydata)
  mydata.loc[length] = row

In [8]:
mydata

   Rank          Team   2022 Last 3 Last 1   Home   Away   2021
0     1        Boston  126.0  126.0  126.0  126.0     --  110.3
1     2  Golden State  123.0  123.0  123.0  123.0     --  111.2
2     3  Philadelphia  117.0  117.0  117.0     --  117.0  109.2
3     4     LA Lakers  109.0  109.0  109.0     --  109.0  112.1
4     5      New York     --     --     --     --     --  106.5
5     5      Brooklyn     --     --     --     --     --  112.7
6     5       Houston     --     --     --     --     --  109.7
7     5   San Antonio     --     --     --     --     --  113.0
8     5       Phoenix     --     --     --     --     --  113.8
9     5       Toronto     --     --     --     --     --  109.0
10    5   New Orleans     --     --     --     --     --  109.3
11    5     Charlotte     --     --     --     --     --  115.2
12    5       Memphis     --     --     --     --     --  115.2
13    5       Indiana     --     --     --     --     --  111.5
14    5       Chicago     --     --     --     --     --  110.7
15    5    Washington     --     --     --     --     --  108.6
16    5          Utah     --     --     --     --     --  112.6
17    5    Sacramento     --     --     --     --     --  110.3
18    5      Portland     --     --     --     --     --  106.2
19    5       Atlanta     --     --     --     --     --  113.1
20    5         Miami     --     --     --     --     --  109.0
21    5        Dallas     --     --     --     --     --  107.7
22    5     Minnesota     --     --     --     --     --  115.4
23    5     Okla City     --     --     --     --     --  103.7
24    5     Milwaukee     --     --     --     --     --  113.9
25    5       Detroit     --     --     --     --     --  104.8
26    5       Orlando     --     --     --     --     --  104.2
27    5        Denver     --     --     --     --     --  112.6
28    5   LA Clippers     --     --     --     --     --  108.3
29    5     Cleveland     --     --     --     --     --  107.7

In [9]:
### In process
### To scrape different statistics

def WebSrape(link):
  page = requests.get(link)
  soup = BeautifulSoup(page.text, 'lxml')
  table1 = soup.find('table')
  headers = []
  for i in table1.find_all('th'):
    title = i.text
    headers.append(title)

  mydata = pd.DataFrame(columns = headers)

  for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(mydata)
    mydata.loc[length] = row
  return mydata




'''
dates = []


# Create an URL object
url = 'https://www.teamrankings.com/nba/stat/points-per-game'
# Create object page
page = requests.get(url)
#parser-lxml = Change html to Python friendly format
# Obtain page's information
soup = BeautifulSoup(page.text, 'lxml')
# Obtain information from tag <table>
table1 = soup.find('table')

headers = []
for i in table1.find_all('th'):
  title = i.text
  headers.append(title)

# Create a dataframe
mydata = pd.DataFrame(columns = headers)

# Create a for loop to fill mydata
for j in table1.find_all('tr')[1:]:
  row_data = j.find_all('td')
  row = [i.text for i in row_data]
  length = len(mydata)
  mydata.loc[length] = row
'''

"\ndates = []\n\n\n# Create an URL object\nurl = 'https://www.teamrankings.com/nba/stat/points-per-game'\n# Create object page\npage = requests.get(url)\n#parser-lxml = Change html to Python friendly format\n# Obtain page's information\nsoup = BeautifulSoup(page.text, 'lxml')\n# Obtain information from tag <table>\ntable1 = soup.find('table')\n\nheaders = []\nfor i in table1.find_all('th'):\n  title = i.text\n  headers.append(title)\n\n# Create a dataframe\nmydata = pd.DataFrame(columns = headers)\n\n# Create a for loop to fill mydata\nfor j in table1.find_all('tr')[1:]:\n  row_data = j.find_all('td')\n  row = [i.text for i in row_data]\n  length = len(mydata)\n  mydata.loc[length] = row\n"

In [10]:
# https://www.teamrankings.com/nba/player-stat/points?season_id=217&rate=per-game
# https://www.teamrankings.com/nba/player-stat/assists?season_id=217
# assists
link = 'https://www.teamrankings.com/nba/player-stat/points?season_id=217&rate=per-game'

player_pointpergame = WebSrape(link)
player_pointpergame

   Rank                     Player                    Team Pos  Value
0     1           \nJames Harden\n         Houston Rockets  SG  33.63
1     2           \nBradley Beal\n      Washington Wizards  SG  30.54
2     3         \nDamian Lillard\n  Portland Trail Blazers  PG  29.66
3     4             \nTrae Young\n           Atlanta Hawks  PG  29.63
4     5  \nGiannis Antetokounmpo\n         Milwaukee Bucks  SF  29.13
..  ...                        ...                     ...  ..    ...
95   96             \nCoby White\n           Chicago Bulls  SG  13.22
96   97         \nChristian Wood\n         Detroit Pistons  PF  13.06
97   98        \nDuncan Robinson\n              Miami Heat  SF  13.06
98   99            \nRicky Rubio\n            Phoenix Suns  PG  13.03
99  100          \nMiles Bridges\n       Charlotte Hornets  SF  12.97

[100 rows x 5 columns]

In [ ]:
player_assists_pergame = WebSrape(link)